:root {
    --color-black: rgb(0, 0, 0);
    --color-white: rgb(255, 255, 255);
    --color-green: rgb(68, 119, 68);
    --color-ebony: rgb(44, 50, 39);
    --color-ivory: rgb(255, 255, 240);

    --font-face-sans: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", sans-serif;

    --font-size-xxs: 0.3rem;
    --font-size-xs: 0.5rem;
    --font-size-s: 0.7rem;
    --font-size-m: 1rem;
    --font-size-l: 1.2.rem;
    --font-size-xl: 1.5rem;
    --font-size-xxl: 2rem;
    --font-size-xxxl: 3rem;

    --spacing-xxs: 0.1rem;
    --spacing-xs: 0.2rem;
    --spacing-s: 0.3rem;
    --spacing-m: 0.5rem;
    --spacing-l: 0.7rem;
    --spacing-xl: 1rem;
    --spacing-xxl: 1.2rem;
    --spacing-xxxl: 1.5rem;

    --border-radius-s: 3px;
    --border-radius-m: 6px;
    --border-radius-l: 9px;


    --primary-color: var(--color-green);
    --text-color: var(--color-black);
    --background-color: var(--color-white);

    --primary-font: var(--font-face-sans);
}
/*
@media (prefers-color-scheme: dark) {
  :root {
    --text-color: var(--color-white);
    --background-color: var(--color-black);
  }
}
*/
*, *::before, *::after {
    box-sizing: border-box;
    overflow: hidden;
}

* {
    margin: 0;
}

*[readonly] {
    cursor: default;
    background-color: transparent;
}

body {
    isolation: isolate;
    cursor: default;
    line-height: 1.5;
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color-scheme: dark light;
    font-family: var(--primary-font);
    font-weight: normal;
    font-size: var(--font-size-m);
    width: 100vw;
    height: 100vh;
    color: var(--text-color);
    background-color: var(--background-color);
}

img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
    stroke-width: 1;
}

input, button, textarea, select {
    font: inherit;
    outline: 0;
    border: 0;
    padding: 0;
}

p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
}

p {
    text-wrap: pretty;
}

h1, h2, h3, h4, h5, h6 {
    text-wrap: balance;
}

ol, ul {
    padding: 0;
}

li {
    list-style: none;
}

a, a:hover, a:active {
    color: var(--text-color);
    text-decoration: none;
}

h1 {
    font-size: var(--font-size-xxxl); 
}

h1 > .subtitle {
    display: block;
    font-size: var(--font-size-m);
}